<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<form class="form-inline" action="#" th:action="@{/list}" method="get">
    <div class="form-group mb-2">
        <label for="inputToken">Token: </label>
        <select class="form-control mx-3" id="inputToken" name="tokenParam">
            <option selected th:text="${param.tokenParam}">Choose...</option>
            <option
                    th:each="token : ${tokens}"
                    th:value="${token}"
                    th:text="${token}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">External ID</th>
        <th scope="col">Status</th>
        <th scope="col">Positive</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="exams" type="uy.viruscontrol.cpl.domain.Exam[]"*/-->
    <tr class="table-secondary"
        th:if="${exams.empty}">
        <td colspan="4" style="text-align: center">No Data Available</td>
    </tr>
    <tr th:each="exam : ${exams}">
        <td><span th:text="${exam.externalId}"></span></td>
        <td><span th:text="${exam.status}"></span></td>
        <td>
            <div th:switch="${exam.positive}">
                <span th:case="${true}" class="badge badge-warning">Positive</span>
                <span th:case="${false}" class="badge badge-success">Negative</span>
                <span th:case="*">-</span>
            </div>
        <td>
            <form action="#" th:action="@{/delete}" method="post">
                <input type="hidden" name="examId" th:value="${exam.id}"/>
                <button type="submit"
                        class="btn btn-danger">Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
